@import url(/css/normalize.css);

*,::before,::after{
    box-sizing: border-box; /* Opera/IE 8+ */  
 	-moz-box-sizing: border-box; /* Firefox*/ 
   	-webkit-box-sizing: border-box; /*Safari, Chrome */
}
body {
    font-family: Raleway, sans-serif; 
    font-size: 12px;
}
.container{
    max-width: 1300px;
    /* background-color: red; */
    margin: 0 auto;  
}
/* -- PARTIE HEADER -- */
header{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    height:100px;
}
.titre img{
    height:40px;
    margin: 0 30px;
}
nav ul{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0;
}
nav ul li{
    padding: 40px;
}
nav a{
    text-decoration: none;
    color:#000;
}
.menu li:hover{
    border-top: 2px solid #0065FC;
}
header a:hover{
    color:#0065FC;
}

/* -- PARTIE RECHERCHE -- */
.recherche{
    padding: 0 30px;
}
h2{
    font-size: 14px;
    font-weight: bold;
}
.barre_recherche{
    display:flex;
    margin-bottom: 25px;
}
button.loupe{
    visibility:hidden;  
}
input, button{
    padding: 10px 15px;
    border:1px solid #f2f2f2;
}
button.rechercher{
    background:#0065FC;
    color:#fff;
    border-radius: 0 10px 10px 0;
}
button.map{
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
    
}
/* ******************************* */

/* -- FILTRES -- */
.filtres {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.filtres button{
    padding: 0 20px 0 10px;
    background: #fff;
    border-radius:999px;
    border: 2px solid #f2f2f2;
}
.filtres button:hover{
    border: 2px solid #0065FC;
}
.filtres i{
    position:relative;
    left:-10px;
    padding: 15px;
    border-radius: 50%;
    background: #DEEBFF;
    color: #0065FC;
    margin: -2px;
}
.filtre_familial i{
    padding: 15px 17px;
}
span i{
    color: #0065FC;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px 8px;
    border: 2px solid #f2f2f2;
}
/* ******************************* */


/* -- SECTION HEBERGEMENTS / LES + POPULAIRES */
section.annonce{
    display:flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
    gap: 20px;
    padding: 0 30px;
    margin: 20px 0;
}
article.hebergement{
    width: 66%;
    background: #f2f2f2;
    border-radius: 15px;
    padding: 10px 20px;
    height:auto;
}
aside.populaire{
    width: 34%;
    background: #f2f2f2;
    border-radius: 15px;
    padding: 10px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}
/* ******************************* */

/* -- HEBERGEMENTS A MARSEILLE -- */
.liste_logement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}
.card_hebergement{
    /* width: 180px; */
    width: 18vw;
    background-color: #fff;
    border-radius: 15px;
    padding:5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
}
.card_hebergement:hover{
    position: relative;
    top:-3px;
}
.card_hebergement a, .card_populaire a{
    text-decoration: none;
    color:#000;
}
.card_hebergement img{
    border-radius:15px 15px 0 0;
    object-fit: cover;
    height:80px;
    width:100%;
}
.card_title{
    font-size: 14px;
    margin:5px;
    font-weight: bold;
}
.card_title:hover{
    color:#0065FC;
}
.card_content{
    font-size: 10px;
    margin:5px;
}
.card_content span{
    font-weight: 800;
    font-size: 11px;
}
.contenu_carte{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
}
.container_note{
    display:flex;
    height:35%;
    flex-direction:column;
  justify-content: flex-end;
}
.note{
    margin: 5px;
    display:flex;
    padding:2px;
    font-size: 10px;
}
.note li{
    list-style-type: none;
}
.etoile_pleine{
    color:#0065FC;
}
.etoile_vide{
    color:#f2f2f2;
}
#details{
    /* color:green; */
    display:block;
    margin-top: 20px;
    font-weight: bold;
}
/* ******************************* */


/* -- LES PLUS POPULAIRES -- */
.titre_populaire{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card_populaire a{
    display:flex;
    background-color: #fff;
    width:100%;
    border-radius: 15px;
}
.card_image_populaire{
    width:50%;
    height:100px;
}
.card_image_populaire img{
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    padding: 5px;
    width:100%;
    height:100%;
}
.contenu_carte{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    width:60%;
}
.note_populaire{
    margin: 5px;
    display:flex;
    padding:2px;
    font-size: 10px;
}
/* ******************************* */

/* -- ACTIVITES A MARSEILLE -- */
h3#activités{
    padding: 0 30px;
}
.activités{
    display:flex;
}
.gallerie{
    /* border:1px solid black; */
    margin: 0 30px;
    display:flex;
    flex-direction: row;
    gap:30px;
    width: 100%;
}
.gallerie article {
    /* border:1px solid red; */
    width:285px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallerie a{
    text-decoration: none;
    color:#000;
}
.card_activité{
    background-color: white;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius:15px;    
}
.card_activité h3{
    display:flex;
    height:50px;
    align-items:center;
    /* pour enlever les marges du h3 */
    margin: 0 0 0 20px;
}
.card_activité img{
    object-fit: cover;
    width:100%;
    /* hauteur max - p */
    height:calc(100% - 50px);
    border-radius: 15px 15px 0 0;
}
/* differentes hauteurs de photo */
.taille1, .taille4{
    height:320px;
}
.taille2{
    height:150px;
}
.taille3{
    height:140px;
}
.taille5{
    height:130px;
}
.taille6{
    height:160px;
}
/* ******************************* */


/* -- FOOTER -- */
footer{
    background: #f2f2f2;
    display:flex;
    width:100%;
    left: 0;
    bottom: 0;
    padding: 0 30px;
    
}
footer ul{
    list-style-type: none;
    padding-left: 0;
    display:flex;
    flex-direction: column;
    width:33%;
}
footer li{
    line-height: 25px;
    font-size: 12px;
}
/* ******************************* */


/* -- PARTIE RESPONSIVE */
@media screen and (min-width:1380px){
    .container{
        max-width: 1300px;
    }
    .card_hebergement{
        width:240px;
    }
    
}

/* -- FORMAT GRAND ECRAN SUP A 992PX -- */
@media screen and (max-width:1300px) and (min-width:993px){
    .gallerie article {
        width:20vw;
        margin: 0 auto;   
    }
}

/* -- FORMAT DESKTOP 992PX -- */
@media screen and (max-width:991px){
    section.annonce{
        width:100vw;
        height: auto;
        justify-content: space-between;
        margin: 0 auto;
    }
    .gallerie article {
        /* border:1px solid red; */
        width:20vw;
        /* margin:0 auto; */
    }
    .card_hebergement{
        width:25vw;
    }
    
}

/* -- FORMAT TABLETTE MAX 768PX -- */
@media screen and (max-width:768px){
    .filtres button{
        margin-right: 13px;
    }
    section.annonce{
        display:flex;
        flex-direction:column-reverse;
        /* les plus populaires en 1er */
    }
    aside.populaire{
        justify-content:center;
        width:100%;
        border-radius: 15px;
        margin: 0 auto;
        padding-bottom: 15px;
        gap:10px;
    }
    .card_populaire{
        width:80%;
        margin: 0 auto;
    }
    article.hebergement{
        width:100%;
        border-radius: 0px;
    }
    .liste_logement{
        justify-content: center;
    }
    .card_hebergement{
        width:35vw;
    }
    
    h3{
        /* margin-left:30px; */
        margin: 30px 0;
    }
    .activités{
        display:flex;
        
    }
    .gallerie{
        flex-direction: column;     
    }
    .gallerie article{
        width:80vw;
        margin: 0 auto;
        gap: 20px;
    }
    .card_activité{
        max-height:140px;
        width:70vw;
        margin: 0 auto;
    }
    footer{
        padding-top: 20px;
    }
    footer h3{
        margin:0;
    }
}
/* ******************************* */

/* -- FORMAT MOBILE A PARTIR DE 425PX -- */
@media screen and (max-width:425px){
    /* NavBar Responsive */
    body{
        margin:0;
    }
    header{
        display:block;
        height:150px;
        padding-top:30px;
    }
    nav ul{
        font-size: 20px;
        padding-left: 0;
        display:flex;
        justify-content: center;
    }
    .titre img{
        display:block;
        margin: 0 auto;
    }
    .menu li{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        padding:20px 10px;
        font-size: 12px;
    }
    .menu li:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    .menu a:hover{
        color:#0065FC;
    }
    .recherche{
        margin: 0 10px;
    }
    .barre_recherche{
        justify-content: center;
        
    }
    .barre_recherche input, .barre_recherche button{
        margin: 10px 0px;
        padding: 13px 15px;
        border:1px solid #f2f2f2;
    }
    button.rechercher{
        display:none;
    }
    button.loupe{
        display:flex;
        visibility:visible;
        border-radius: 15px;
        background:#0065FC;
        color:#fff;
        position:relative;
        left:-15px;
    }
    .filtres{
        margin: 10px 0;
        gap: 10px 0;
    }
    .filtres p{
        width:100%;
    }
    
    /* bloc hébergements et les + pop */
    section.annonce{
        display:flex;
        flex-direction:column-reverse;
        /* les plus populaires en 1er */
        padding:0;
    }
    aside.populaire{
        /* width:100vw; */
        border-radius: 0px;
    }
    article.hebergement{
        width:100vw;
        border-radius: 0px;
        margin:0;
        background-color: #fff;
    }
    .liste_logement{
        justify-content:center;
    }
    .card_populaire, .card_hebergement{
        margin: 5px 0;
    }
    .card_hebergement,.card_populaire {
        width: 80vw;
        margin:0 auto;
    }
    #details{
        margin-left:30px;
    }
    
    .gallerie{
        height:auto;
        width:100%;
        
    }
    .gallerie article{
        display:flex;
        justify-content: center;
    }
    .card_activité{
        max-height:140px;
        width:80vw;
    }
    
    footer{
        display:block;
        padding-top: 20px;
    }
    footer li{
        margin: 5px 0;
    }
    footer ul{
        width:100%;
    }    
}

@media screen and (max-width:320px){
    .menu{
        margin:0;
    }
    h2{
        font-size: 18px;
    }
    .recherche{
        margin:0;
        padding: 0 15px;
    }
    aside.populaire{
        padding: 0 15px 15px 15px;
        
    }
    .card_hebergement,.card_populaire{
        width:90vw;
    }
}
/* ******************************* */
